/* 整体设置 */
body {
	color: #000;
	font-size: 12px;
}
.container_24 {
	padding: 15px 0;
}
a {
	color:#009;
}
a:hover {
	color:#000;
}
.right {
	float: right;
	text-align: right;
}

/* 头部设置 */
#header {
	position: relative;
	padding-bottom: 12px;
	margin: 0 5px;
	zoom:1;
}
#logo {
	width: 230px;
	height: 56px;
	background: url('img/logo.png') no-repeat;
}
#logo h1 {
	display: none;
}
#links {
	position: absolute;
	right: 0;
	top: 0;
}

/* 侧边栏设置（包含导航和帮助、关于信息） */
.sidebar li {
	list-style: none;
	padding: 0;
	margin:0;
}
.mainmenu {
	border: 2px solid #3399FF;
	padding: 1px 1px 0;
	margin: 0 0 10px;
}
.mainmenu li {
	margin-bottom: 1px;
	font-size: 14px;
	font-weight: 700;
}
.mainmenu li a {
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #008EE8 url('img/bgs.png') 0 0 repeat-x;
	display: block;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
	text-decoration: none;
	color: #FFF;
}
.mainmenu li a:hover {
	background: #FE8B01 url('img/bgs.png') 0 -30px repeat-x;
	color:yellow;
}
.sidebox {
	border: 2px solid #ACCAE4;
	margin-bottom: 10px;
}

.sidebox h5 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 14px;
	font-weight: 700;
	padding-left: 5px;
	background: #ACCAE4 url('img/bgs.png') 0 -60px repeat-x;
	height: 26px;
	line-height: 26px;
	margin: 1px 1px 0;
}
.sidebox .content {
	margin:0;
	padding: 5px;
	line-height: 20px;
}

/* main */
.breadcrumbs {
	overflow: hidden;
	margin: 5px 0 15px;
	padding-left: 20px;
	position: relative;
	color: #666;
	_zoom:1;
}
.breadcrumbs .icon-position {
	position: absolute;
	left: 0;
	top: 1px;
}

.exlink {
	position: relative;
	margin: 5px 0 10px;
	padding-left: 20px;
	float: right;
	_zoom:1;
}
.exlink .icon-category {
	position: absolute;
	left: 0;
	top: 1px;
}

/* operation table */
.operation-bar {
	border-width:1px 2px 0;
	border-style:solid;
	border-color:#AFCAE4;
	padding: 5px 0;
}
.operation-btn {
	float: left;
	display: inline;
	margin: 0 5px;
	padding: 0 5px 0 25px;
	position: relative;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}
.operation-btn-hover {
	font-weight: 700;
	text-decoration: underline;
}

.operation-btn span {
	position: absolute;
	top: 2px;
	left: 5px;
}
.operation-btn-active {
	background: #008EE8 url('img/bgs.png') 0 0 repeat-x;
	color:#FFF;
	font-weight: 700;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}
.operation-btn-active:hover {
	color: yellow;
}

.pagination-bar {
	border-width:0 2px 2px;
	border-style:solid;
	border-color:#AFCAE4;
	padding: 5px 10px;
	margin:0 0 10px 0;
}

.list-table-wrap {
	border-width: 1px 2px;
	border-style:solid;
	border-color:#AFCAE4;
}

.list-table {
	width: 100%;
	margin: 0;
}
.list-table th {
	padding: 0 5px;
	background: url('img/bgs.png') 0 -60px repeat-x;
	text-align: left;
	color: #666;
}

.list-table th.js-sort {
	cursor: pointer;
}

.list-table th.js-sort-hover {
	background: url('img/bgs.png') 0 -90px repeat-x;
	color: #333;
}

.list-table th.js-sort .title {
	text-decoration: underline;
}

.list-table th .title {
	float: left;
	padding:3px 0;
	height: 20px;
	line-height: 20px;
	overflow: hidden;	
	font-weight: 700;
}

/* table sort style */
.list-table th .sort-asc,
.list-table th .sort-desc {
	margin: 5px 1px;
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background-image: url('img/icons.png');
	background-repeat: no-repeat;
}

.list-table th .sort-asc {
	background-position: -80px -60px;
}
.list-table th .sort-desc {
	background-position: -100px -60px;
}


.list-table td {
	vertical-align: middle;
}

.list-table .odd td {
	background: #F5FAFC;
}

.list-table .inner-td {
	line-height: 18px;
	height:18px;
	margin: 3px 5px;
	display: block;
	word-break:break-all;
	word-wrap:break-word;
	overflow: hidden;
}

.table-btn {
	float: left;
	display: inline;
	padding: 1px 3px;
	cursor: pointer;
}

.table-btn-active {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background-color:#0073B3;
}

.table-icon {
	float: right;
	display: inline;
	margin: 1px;
}

.list-table-empty {
	border-width: 1px 2px;
	border-style:solid;
	border-color:#AFCAE4;
	padding:60px 10px;
	text-align: center;
	font-size:14px;
	color:#999;
}

/* list search */
.list-search {
	padding-top:6px;
	line-height: 0px;
}

.list-search .keyword {
	display: inline;
	float: left;
	height:20px;
	border: 1px solid #FFF;
	background: #FFF;
	position: relative;
	width:180px;
}

.list-search .keyword input {
	position: absolute;
	left:4px;
	top:2px;
	width: 170px;
	height: 14px;
	line-height: 14px;
	text-align: left;
	font-size: 14px;
	color:#999;
	padding:1px;
	margin:0;
	border: 0;
}

.list-search .keyword-focus {
	border: 1px solid #008EE8;
}
.list-search .keyword-focus input {
	color:#000;
}

.list-search .search {
	display: float;
	float: left;
	padding: 4px 10px;
	height:14px;
	line-height: 14px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin:0 10px 0 6px;
	background: #EEF;
	cursor: pointer;
}

.list-search .search-hover {
	color:#FFF;
	background:#008EE8;
}

/* icons */
.icon-position,
.icon-category,
.icon-select,
.icon-inverse,
.icon-audit,
.icon-flag,
.icon-delete,
.icon-move,
.icon-preview,
.icon-undo-pub,
.icon-undo-rej,
.icon-home,
.icon-next,
.icon-prev,
.icon-end,
.icon-flag-1,
.icon-flag-2,
.icon-flag-3 {
	width:16px;
	height:16px;
	display: block;
	background-image: url('img/icons.png');
	_background-image: url('img/icons-ie6.png');
	background-repeat: no-repeat;
}

.icon-position {
	background-position: -140px -20px;
}
.icon-category {
	background-position: -20px -20px;
}
.icon-select {
	background-position: 0 -40px;
}
.icon-inverse {
	background-position: -20px -40px;
}
.icon-undo-pub,
.icon-undo-rej {
	background-position: -80px 0;
}
.icon-audit {
	background-position: -120px 0;
}
.icon-flag {
	background-position: -40px -40px;
}
.icon-delete {
	background-position: -40px 0;
}
.icon-move {
	background-position: -20px 0;
}
.icon-preview {
	background-position: -140px 0;
}
.icon-flag-1 {
	background-position: -20px -80px;
}
.icon-flag-2 {
	background-position: -40px -80px;
}
.icon-flag-3 {
	background-position: 0 -80px;
}
.icon-home {
	background-position: -60px -40px;
}
.icon-prev {
	background-position: -80px -40px;
}
.icon-next {
	background-position: -100px -40px;
}
.icon-end {
	background-position: -120px -40px;
}

/* round corner */
.radius_top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
.radius_bottom {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
}
.radius_all {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* pagination */
.pagination span {
	margin-top: 2px;
	cursor: pointer;
}

.pagination a {
	float: left;
	display: block;
	height: 20px;
	line-height: 20px;
	padding:0 3px;
}
.pagination a:hover {
	background: #CADFF9;
}
.pagination a.current {
	text-decoration: none;
	font-weight: 700;
	color: #000;
}

/* status tab */
.status-bar {
	background:#AFCAE4;
	height:32px;
	line-height: 30px;
	padding-left:20px;
}

.status-tab {
	float:left;
	text-align: center;
	margin-top:7px;
	margin-right:10px;
	height: 22px;
	padding-top: 3px;
	width:80px;
	line-height: 21px;
	background: #E9F3F7;
	font-weight:700;
	text-decoration: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}
.status-tab:hover {
	text-decoration: underline;
}

.status-tab-active {
	height: 23px;
	margin-bottom: -1px;
	background:#FFF;
	position: relative;
}
#status-0 { color:#C00; }
#status-2 { color:#C00; }
#status-1 { color:#090; }
#status-5 { color:#C90; }
#status-3 { color:#666; }

/* message error or success */
.message-error {
	padding:10px 15px;
	margin-bottom: 10px;
	clear:both;
	color:#C00;
	border:2px solid #C00;
}
.message-success {
	padding:10px 15px;
	margin-bottom: 10px;
	clear:both;
	color:#090;
	border:2px solid #090;
}