/* 整体设置 */
body {
	font-size: 12px;
}
.container_24 {
	padding: 15px 0;
}
a {
	color:#009;
}
a:hover {
	color:#000;
}
.right {
	float: right;
	text-align: right;
}

/* 头部设置 */
#header {
	position: relative;
	padding-bottom: 12px;
	margin: 0 5px;
}
#logo {
	width: 230px;
	height: 56px;
	background: url('img/logo.png') no-repeat;
}
#logo h1 {
	display: none;
}
#links {
	position: absolute;
	right: 0;
	top: 0;
}

/* 侧边栏设置（包含导航和帮助、关于信息） */
.sidebar li {
	list-style: none;
	padding: 0;
	margin:0;
}
.mainmenu {
	border: 2px solid #3399FF;
	padding: 1px 1px 0;
	margin: 0 0 10px;
}
.mainmenu li {
	margin-bottom: 1px;
	font-size: 14px;
	font-weight: 700;
}
.mainmenu li a {
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #008EE8 url('img/menu-bg.png') repeat-x;
	display: block;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
	text-decoration: none;
	color: #FFF;
}
.mainmenu li a:hover {
	background: #FE8B01 url('img/menu-bg-active.png') repeat-x;
	color:yellow;
}
.sidebox {
	border: 2px solid #ACCAE4;
	margin-bottom: 10px;
}

.sidebox h5 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 14px;
	font-weight: 700;
	padding-left: 5px;
	background: #ACCAE4 url('img/box-bg.png') repeat-x;
	height: 26px;
	line-height: 26px;
	margin: 1px 1px 0;
}
.sidebox .content {
	margin:0;
	padding: 5px;
	line-height: 20px;
}

/* main */
.breadcrumbs {
	overflow: hidden;
	margin: 5px 0 15px;
	padding-left: 20px;
	position: relative;
	color: #666;
	_zoom:1;
}
.breadcrumbs .icon-position {
	position: absolute;
	left: 0;
	top: 1px;
}

.exlink {
	position: relative;
	margin: 5px 0 10px;
	padding-left: 20px;
	float: right;
	_zoom:1;
}
.exlink .icon-category {
	position: absolute;
	left: 0;
	top: 1px;
}

/* operation table */
.operation-bar {
	border-width:0 2px;
	border-style:solid;
	border-color:#AFCAE4;
	padding: 5px 0;
}
.operation-btn {
	float: left;
	display: inline;
	margin: 0 5px;
	padding: 0 5px 0 25px;
	position: relative;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
}
.operation-btn:hover {
	text-decoration: underline;
}

.operation-btn span {
	position: absolute;
	top: 2px;
	left: 5px;
}
.operation-btn-active {
	background: #008EE8 url('img/menu-bg.png') repeat-x;
	color:#FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}
.operation-btn-active:hover {
	color: yellow;
}

.pagination-bar {
	border-width:0 2px 2px;
	border-style:solid;
	border-color:#AFCAE4;
	padding: 5px 10px;
	margin:0 0 10px 0;
}


.list-table {
	border-width: 1px 2px;
	border-style:solid;
	border-color:#AFCAE4;
	width: 100%;
	margin: 0;
}
.list-table th {
	height: 20px;
	padding: 3px 5px;
	line-height: 20px;
	overflow: hidden;
	background: url('img/box-bg.png') repeat-x;
	color: #666;
	font-weight: 700;
	text-align: left;
}
.list-table td {
	line-height: 18px;
	padding: 3px 5px;
}

.list-table .odd td {
	background: #F5FAFC;
}

.table-btn {
	float: left;
	display: inline;
	margin: 0 3px;
}
.table-btn span {
	display: none;
}

.list-table-empty {
	border-width: 1px 2px;
	border-style:solid;
	border-color:#AFCAE4;
	padding:60px 10px;
	text-align: center;
	font-size:14px;
	color:#999;
}

/* icons */
.icon-position,
.icon-category,
.icon-select,
.icon-inverse,
.icon-audit,
.icon-star,
.icon-del,
.icon-move,
.icon-preview,
.icon-home,
.icon-next,
.icon-prev,
.icon-end {
	width:16px;
	height:16px;
	display: block;
}

.icon-position {
	background: url('img/icon-position.png') no-repeat;
}
.icon-category {
	background: url('img/icon-category.png') no-repeat;
}
.icon-select {
	background: url('img/icon-select.png') no-repeat;
}
.icon-inverse {
	background: url('img/icon-inverse.png') no-repeat;
}
.icon-audit {
	background: url('img/icon-audit.png') no-repeat;
}
.icon-star {
	background: url('img/icon-star.png') no-repeat;
}
.icon-del {
	background: url('img/icon-del.png') no-repeat;
}
.icon-move {
	background: url('img/icon-move.png') no-repeat;
}
.icon-preview {
	background: url('img/icon-preview.png') no-repeat;
}
.icon-home {
	background: url('img/icon-home.png') no-repeat;
}
.icon-next {
	background: url('img/icon-next.png') no-repeat;
}
.icon-prev {
	background: url('img/icon-prev.png') no-repeat;
}
.icon-end {
	background: url('img/icon-end.png') no-repeat;
}

/* round corner */
.radius_top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
.radius_bottom {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
}
.radius_all {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* pagination */
.pagination span {
	margin-top: 2px;
	cursor: pointer;
}

.pagination a, .pagination strong {
	float: left;
	display: block;
	height: 20px;
	line-height: 20px;
	padding:0 3px;
}
.pagination a:hover {
	background: #CADFF9;
}

/* status tab */
.status-bar {
	background:#AFCAE4;
	height:32px;
	line-height: 30px;
	padding-left:20px;
}

.status-tab {
	float:left;
	text-align: center;
	margin-top:7px;
	margin-right:10px;
	height: 22px;
	padding-top: 3px;
	width:80px;
	line-height: 21px;
	background: #E9F3F7;
	font-weight:700;
	text-decoration: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}
.status-tab:hover {
	text-decoration: underline;
}

.status-tab-active {
	background:#FFF;
}
#status-0 { color:#C00; }
#status-2 { color:#C00; }
#status-1 { color:#090; }
#status-5 { color:#C90; }
#status-3 { color:#666; }

/* message error or success */
.message-error {
	padding:10px 15px;
	margin-bottom: 10px;
	clear:both;
	color:#C00;
	border:2px solid #C00;
}
.message-success {
	padding:10px 15px;
	margin-bottom: 10px;
	clear:both;
	color:#090;
	border:2px solid #090;
}